@use 'sass:math';

/* Grid */
.grid {
    width: 100%;
    max-width: 1444px;
    margin: 50px 100px;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

/* Col */
.col {
    padding: 0 5px;
}

// Active desktop
@for $i from 0 through 12 {
    $value: math.div($i, 12) * 100%;

    .c-#{$i} {
        flex: 0 0 $value;
        max-width: $value;
    }
}

.c-8-3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

@for $i from 0 through 12 {
    $value: math.div($i, 12) * 100%;

    .c-o-#{$i} {
        flex: 0 0 $value;
        max-width: $value;
    }
}

// No hover on mobile and tablet
@mixin noneHover() {
    .menu-list__item-add-to-cart-view {
        display: none !important;
    }

    .menu-list__item-add-to-cart-choose {
        display: flex !important;
    }

    .menu-list__item-add-to-cart-amount {
        color: black !important;
    }

}

// breakpoint1
@media (max-width: 68.75rem) and (min-width: 46.625rem) {
    .grid {
        margin: 0;
    }

    @include noneHover();

    @for $i from 0 through 12 {
        $value: math.div($i, 12) * 100%;

        .pb1-#{$i} {
            display: flex;
            flex-direction: column;
            flex: 0 0 $value;
            max-width: $value;
        }
    }

    @for $i from 0 through 12 {
        $value: math.div($i, 12) * 100%;

        .pb1-o-#{$i} {
            margin-left: $value;
        }
    }

    .pb1-8-3 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

// mobile
@media (max-width: 46.625999999rem) and (min-width: 22.5rem) {
    .grid {
        margin: 0;
    }

    @include noneHover();

    .row {
        flex-direction: column;
    }

    @for $i from 0 through 12 {
        $value: math.div($i, 12) * 100%;

        .m-#{$i} {
            display: flex;
            flex-direction: column;
            flex: 0 0 $value;
            max-width: $value;
        }
    }

    @for $i from 0 through 12 {
        $value: math.div($i, 12) * 100%;

        .m-o-#{$i} {
            margin-left: $value;
        }
    }

    .m-8-3 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}